body {
    margin: 0px 0px 1px 0px; /* the extra 1px allows the iOS inner/outer check to work */
    background: #000;
}

#orientation {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/orientation.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 0, 0);
    z-index: 999;
    display: none;
}

#game{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
#fontPlaceholder{
    font-family: 'Roboto';
    position: absolute;
    left: -1000px;
    
}

#game canvas{
    border: 1px solid rgba(255,255,255,0.1);
}

#searchContainer{
    position: absolute;
    display: none;
    left:12%;
    top:69%;
    
}
#searchInput{
    color: black;
    font-size: 16px;
    width: 205px;
}
#searchButton{
    font-size: 16px;
}